
body{
  font-family: 'Roboto' ;
  margin: 0;
}

/* parte dell'header */
header{
  text-align: center;
  position: relative;
  background: #ff564a;
  padding: 7px;
  height: 50px;
}

#logo{
  position: relative;
  right: 35%;
  top: 5px;
  display: inline-block;
}

#logo img{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

#logo h1{
  display: inline-block;
  font-size: 15px;
  color: white;
}

#logo input[type="search"]{
  position: absolute;
  left: 170px;
  width: 300px;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  padding: 6px;
  margin-top: 5px;
}

#main_menu{
  display: inline-block;
  position: absolute;
  left: 60%;
}

#main_menu li{
  position: relative;
  list-style: none;
  display: inline-block;
  text-decoration-color: white;
}

#main_menu li a{
  padding: 0 7px;
  color: white;
  /* display: inline-block; */
  text-decoration: none;
}

#main_menu li a:hover{
  border-bottom: 2px solid white;
  border-color: white;
  padding: 15px;
}

/* Parte riguardante il main */

#contenitore{
  position: relative;
  margin: 70px auto 0 auto;
  /* background: black; */
  border: 0.5px solid #cfcfcf;
  border-radius: 50px;
  width: 1300px;
  /* height: 1300px; */
  padding: 20px;
  box-sizing: border-box;
}


.riga{
  position: relative;
  margin: 0px auto;
  padding: 50px;
  width: 1000px;
  height: 250px;
  text-align: center;

}

/* box sinistro */
.box_citta{
  bottom: 20px;
  position: relative;
  width: 300px;
  height: 300px;
  margin-right: 80px;
  display: inline-block;
  border-radius: 30px;

}

.box_citta img{
  border-radius: 30px
}

.nome_citta{
  position: absolute;
  top: 125px;
  right: 50%;
  transform: translateX(50%);
  color: #f0f0f0;
  font-size: 40px;
  font-weight: bold;
  opacity: 0
}

.box_citta:hover .nome_citta {
  opacity: 1;

}

/* box destra */
.box_info{
  bottom: 20px;
  display: inline-block;
  position: relative;
  background: green;
  width: 600px;
  height: 300px;
  border-radius: 30px;
}
